/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h1 {
  font-family:'Franklin Gothic Medium';
  font-size: 55px;
  text-align: center;
}

#content {
font-family: verdana;
text-align: center;
background-color: rgb(234, 180, 221);
}

h2{
  font-family: 'Segoe UI';
  color: #720335;
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 2px #720335;
    background-color: #faeef1;
  }